.gallery-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;


    gap: 2rem;


    padding: 4rem;


}

.left-image img,
.right-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.middle-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2rem;

  

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}